#wrapper{
    /*width: 1283px;*/
    width: 90%;
    margin: 30px auto;
    padding-bottom: 20px;
    background-color: rgb(255,255,255);
    z-index: -1;
}

header{
    width: 100%;
    height: 90.5px;
}

header .container-header{
    /*width: 1124px;*/
    width: 90%;
    height: 90.5px;
    margin: 0 auto;
    padding: 12px;
}

header .container-header .logo{
    float: left;
}

header .container-header .logo h1 {
    font-size: 18pt;
    color: rgb(82,99,125);
    font-family: 'Pacifico';
    display: inline-block;
}

header .container-header .logo h2 {
    font-size: 9pt;
    color:rgb(82,99,125);
    font-family: 'Roboto-Regular';
    position: relative;
    left: -26px;
    top: -6px;
}

header .container-header .logo i{
    font-size: 16pt;
    color: rgb(82,99,125);
}


/*@media(max-width: 1283px){
    #wrapper{
        width: 1200px;
    }
}

@media(max-width: 1233px){
    #wrapper{
        width: 1117px;
    }
}

@media(max-width: 1140px){
    #wrapper{
        width: 1034px;
    }
}

@media(max-width: 1064px){
    #wrapper{
        width: 951px;
    }
}

@media(max-width: 976px){
    #wrapper{
        width: 868px;
    }
}

@media(max-width: 890px){
    #wrapper{
        width: 785px;
    }
}

@media(max-width: 810px){
    #wrapper{
        width: 702px;
    }
}*/

@media(max-width: 723px){
    /*#wrapper{
        width: 619px;
    }*/

    header .container-header{
        width: 190px;
    }

    header .container-header .logo h1 {
        font-size: 16pt;
        position: relative;
        left: 18px;
    }

    header .container-header .logo h2 {
        font-size: 7pt;
        left: 4px;
        /*display: inline-block;*/
    }

    header .container-header .logo i{
        font-size: 14pt;
        position: relative;
        left: 18px;
    }
}

/*@media(max-width: 638px){
    #wrapper{
        width: 536px;
    }
}

@media(max-width: 560px){
    #wrapper{
        width: 453px;
    } 
}

@media(max-width: 480px){
    #wrapper{
        width: 370px;
    } 
}

@media(max-width: 388px){
    #wrapper{
        width: 300px;
    } 
}*/

a.ui {
    position: absolute;
    top: 10px;
    right: 9px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(44,44,44,.3);
    padding: 5px 10px;
    background: #fff;
    color: rgb(80,80,80);
    font-size: 10px;
    line-height: 24.6px;
    border-radius: 2px;
    display: none;
    font-family: 'Arial';
  }

  @media(max-width: 968px){
  	a.ui{
  		display: block;
  		z-index: 99;
  	}
  }

nav.kurir{
    float: right;
    font-size: 10pt;
    position: relative;
    top: -75px;
    right: 20px;
    color: rgb(82,99,125);
}

nav.kurir ul li{
	float: left;
	padding: 0 8px;
}

nav.kurir ul li i{
	margin-right: 4px;
	/*color: rgb(82,99,125);*/
}

.kurir-mobile{
	width: 100%;
	padding: 4px 15px 4px 14px;
	cursor: pointer;
	position: relative;
	top: -20px;
	display: none;
}

.kurir-mobile .toggle{
	background-color: rgb(82,99,125);
	padding: 6px 16px;
}

.kurir-mobile .toggle i{
	color: #fff;
	font-size: 15pt;
}

nav.menu-mobile{
	display: none;
	margin-left: 1px;
	margin-right: 1px;
	border: solid #eaeaea 1px;
	color: rgb(82,99,125);
	box-shadow: 0 1px 4px rgba(44,44,44,.3);
}

nav.menu-mobile.show{
	display: block;
	
}

nav.menu-mobile ul li{
	padding: 8px 0px;
	border-top: solid #eaeaea 1px;
	text-align: center;
	cursor: default;
}

nav.menu-mobile ul li i{
	margin-right: 4px;
}

@media(max-width: 768px){
  	nav.kurir{
  		display: none;
  	}

  	.kurir-mobile{
  		display: block;
  	}
  }


.button {
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    font-size: 9pt;
    background-color: #fff;
    color: #444;
    border-color:#d5d5d5;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
}

.button:hover {
    background-color: #f0f0f0;
}

.button i.fa {
    display: inline-block;
}

.button-icon i.fa {
    width: 10px;
    text-align: center;
}

.button-blue {
    color: #fff;
    background-color: rgb(82,99,125);
    border-color: rgb(82,99,125);
}

.button-blue:hover {
    background-color: rgb(62,79,105);
    border-color: rgb(62,79,105);
}

.button-red {
    color: #fff;
    background-color: #da4453;
    border-color:#da4453;
}

.button-red:hover {
    background-color: #d62f3f;
    border-color:#d62f3f;
}

.button-green{
    color: #fff;
    background-color: #8cc152;
    border-color:#8cc152;
}

.button-green:hover {
    background-color: #7fb842;
    border-color:#7fb842;
}

.button-yellow {
    color: #fff;
    background-color: #f6bb42;
    border-color:#f6bb42;
}

.button-yellow:hover {
    background-color: #f5b22a;
    border-color:#f5b22a;
}

.order{
    width: 100%;
	/*height: 480px;*/
	/*background-color: rgb(244,244,244);*/
	margin: auto 0;
	padding: 20px;
	/*box-shadow: 0 2px 2px rgba(44,44,44,.3);*/
	z-index: -1;
}

.order table{
	margin-top: 12px;
	width: 100%;
}

.order table tr th{
    padding: 10px 8px;
    border: solid #eaeaea 1px;
    font-size: 10pt;
    background-color: rgb(82,99,125);
    color: #fff;
    font-family: "arial";
}

.order table tr td .stat{
    width: 50%;
    padding: 4px 4px;
    margin: 0 auto;
    border-radius: 2px;
    background-color:  rgb(82,99,125);
}

.order table tr td .stat i{
    font-size: 12pt;
    color: #fff;
}

.order table td.nowrap {
    width: 1%;
    white-space: nowrap;
}

.order table tr td{
	border: solid #eaeaea 1px;
    background-color: rgb(247,247,247);
	padding: 10px 8px;
	font-size: 9pt;
    text-align: center;
}

@media(max-width: 342px){
    .bt{
        width: 100%;
    }
}
    
}
