@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: 300;
    src: url('../font/OpenSans-Regular.ttf') format('opentype');
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.login-block{
    background-color: rgb(62,79,105);
    background-repeat: repeat-x;
    background-position: 100% 0%;  
}

section#login {
    width: 100%;
    height: 100%;
}

section#login .wrapper {
    width: 500px;
    margin: 5% auto 0 auto;
}

section#login .wrapper .logo{
    width: 220px;
    margin: 0 auto 20px auto;
}

section#login .wrapper .logo h1 {
    font-size: 20pt;
    color: rgb(62,79,105);
    font-family: 'Pacifico';
    display: inline-block;
    position: relative;
    right: -20px;
}

section#login .wrapper .logo h2 {
    font-size: 9pt;
    color: rgb(62,79,105);
    font-family: 'Roboto-Regular';
    position: relative;
    top: -30px;
}

section#login .wrapper .logo i {
    font-size: 24pt;
    position: relative;
    right: -16px;
    color: rgb(62,79,105);
}

section#login .wrapper .form {
    border-radius: 1px;
    height: auto;
    background-color: #fff;
    border: solid #eaeaea 1px;
    /*border: solid rgb(240,240,240) 14px;*/
}

section#login .wrapper .form .form-body .form-head{
    margin-bottom: 20px; 
    border-bottom: solid #eaeaea 1px;
    padding-bottom: 16px; 
}

section#login .wrapper .form .form-body .form-head h3{
    font-size: 16pt;
    margin: 0;
    text-align: center;
    color: rgb(62,79,105);
    font-family: "Roboto-Regular";
}

section#login .wrapper .form .form-body .form-head p{
    font-size: 8pt;
    /*border: solid black 1px;*/
    margin: 0;
}

section#login .wrapper .form .form-body{
    padding: 25px 45px;
}

section#login .wrapper .form .form-body .form-group{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    /*border: solid black 1px;*/
}

label{
    font-family: "Arial";
    font-size: 10pt;
    color: rgb(100,100,100);
    width: 15%;
    height: 100%;
    position: relative;
    top: 10px; 
    color: rgb(150,150,150);
}

.input-icon{
    float: right;
    width: 75%;
    height: 100%;
    border: solid #eaeaea 1px;
}

.input-icon i{
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
    font-size: 12pt;
    color: rgb(150,150,150);
}

input[type="text"],
input[type="password"]{
    border: 0;
    height: 100%;
    width: 86%;
    padding-left: 12px;
    /*padding-right: 20px;*/
}

input[type="submit"]{
    float: right;
    width: 25%;
    padding: 10px 0px;
    color: rgb(82,99,125);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    /*background-color: rgb(223,226,236);*/
    background-color: #eaeaea;
    font-family: "OpenSans-Regular";
    font-weight: 600;
}


input[type="submit"]:hover{
    background-color: rgb(82,99,125);
    color: #fff;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

section#login .wrapper .form p.error {
    background-color: #eb99a1;
    color: #9a1e2b;
    font-size: 10pt;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

@media(max-width: 565px){
    section#login .wrapper{
        width: 380px;
    }

    section#login .wrapper .form .form-body .form-group{
        margin-bottom: 40px;
    }

    .input-icon{
        float: none;
        width: 100%;
    }

    label{
        top: 0px;
    }

    input[type="submit"]{
        width: 100%;
        margin-top: 10px;
    }

    section#login .wrapper .form .form-body{
        padding: 25px 45px 15px 45px;
    }

    /*section#login .wrapper .logo{
        width: 240px;
    }*/

}

@media(max-width: 407px){
    section#login .wrapper{
        width: 300px;
    }

    section#login .wrapper .form .form-body{
        padding: 25px 45px 0px 45px;
    }
}
