a.ui {
    position: absolute;
    top: 10px;
    right: 9px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(44,44,44,.3);
    padding: 5px 10px;
    background: #fff;
    color: rgb(80,80,80);
    font-size: 10px;
    line-height: 24.6px;
    border-radius: 2px;
    display: none;
    font-family: 'Arial';
  }

  @media(max-width: 968px){
    a.ui{
        display: block;
        z-index: 99;
    }
  }

header{
    width: 100%;
    height: 80px;
    background-color: rgb(82,99,125);
    box-shadow: 0 1px 6px rgba(44,44,44,.6);
}

header .container-header{
    width: 90%;
    height: 90.5px;
    margin: 0 auto;
    padding: 12px;
}

header .container-header .logo{
    float: left;
}

header .container-header .logo h1 {
    font-size: 18pt;
    color: #fff;
    font-family: 'Pacifico';
    display: inline-block;
}

header .container-header .logo h2 {
    font-size: 9pt;
    color: #fff;
    font-family: 'Roboto-Regular';
    position: relative;
    left: -26px;
    top: -6px;
    /*display: inline-block;*/
}

header .container-header .logo i{
    font-size: 16pt;
    color: #fff;
}

@media(max-width: 768px){
    #wrapper{
        width: 619px;
    }

    header .container-header{
        width: 190px;
    }

    header .container-header .logo h1 {
        font-size: 16pt;
        position: relative;
        left: 18px;
    }

    header .container-header .logo h2 {
        font-size: 7pt;
        left: 4px;
        /*display: inline-block;*/
    }

    header .container-header .logo i{
        font-size: 14pt;
        position: relative;
        left: 18px;
    }
}

order{
    height: 480px;
    /*background-color: rgb(244,244,244);*/
    margin: auto 0;
    padding: 20px;
    /*box-shadow: 0 2px 2px rgba(44,44,44,.3);*/
    z-index: -1;
}

.order h2{
    text-align: center;
    margin-bottom: 20px;
}

.order table{
    margin-top: 30px;
    width: 100%;
}

.order table tr td{
    border: solid black 1px;
    padding: 10px 8px;
    font-size: 9pt;
}

@media(max-width: 960px){
    .col-9,
    .col-3{
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .order{
        height: auto;
    }
}

@media(max-width: 768px){
    .container{
        width: 580px;
    }
}

@media(max-width: 580px){
    .container{
        width: 460px;
    }
}

@media(max-width: 460px){
    .container{
        width: 320px;
    }
}