header{
    width: 100%;
    height: 80px;
    background-color: rgb(82,99,125);
    box-shadow: 0 1px 6px rgba(44,44,44,.6);
}

header .container-header{
    width: 90%;
    height: 90.5px;
    margin: 0 auto;
    padding: 12px;
}

header .container-header .logo{
    float: left;
}

header .container-header .logo h1 {
    font-size: 18pt;
    color: #fff;
    font-family: 'Pacifico';
    display: inline-block;
}

header .container-header .logo h2 {
    font-size: 9pt;
    color: #fff;
    font-family: 'Roboto-Regular';
    position: relative;
    left: -26px;
    top: -6px;
    /*display: inline-block;*/
}

header .container-header .logo i{
    font-size: 16pt;
    color: #fff;
}

@media(max-width: 768px){
    #wrapper{
        width: 619px;
    }

    header .container-header{
        width: 190px;
    }

    header .container-header .logo h1 {
        font-size: 16pt;
        position: relative;
        left: 18px;
    }

    header .container-header .logo h2 {
        font-size: 7pt;
        left: 4px;
        /*display: inline-block;*/
    }

    header .container-header .logo i{
        font-size: 14pt;
        position: relative;
        left: 18px;
    }
}

p.error {
    background-color: #eb99a1;
    color: #9a1e2b;
    font-size: 10pt;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin: 4px auto 0px auto;
}

.col-9{
    height: 40px;
    padding: 0;
    margin-top: 20px;
}

.col-3{
    height: 40px;
    padding: 0;
    margin-top: 20px;
}

.cari{
	width: 60%;
	margin: 60px auto;
}

.cari h3{
	text-align: center;
	font-size: 16pt;
	color: black;
	margin-bottom: 20px;
}

.cari input[type="text"],
.cari input[type="submit"]{
	border: none;
    height: 100%;
    width: 86%;
    padding-left: 12px;
    font-size: 10pt;
}

.cari .input-icon-r input[type="submit"]{
	width: 100%;
	background-color: rgb(82,99,125);
	color: #fff;
	padding-left: 0;
}

.cari .input-icon-r input[type="submit"]:hover{
	background-color: rgb(62,79,105);
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
}

.input-icon-l,
.input-icon-r{
    background-color: #fff;
    height: 100%;
    border: solid #eaeaea 1px;
}

.input-icon-l i{
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
    font-size: 12pt;
    color: rgb(150,150,150);
}

@media(max-width: 768px){
	.col-9,
	.col-3,
	.cari{
		width: 100%;
		margin-bottom: 10px;
	}

	.cari{
		padding: 0px 20px;
	}

	.cari input[type="text"],
	.cari input[type="submit"]{
		border-radius: 2px;
	}
}
