/*=== NORMALISASI begin ===*/
/* normalisasi digunakan untuk mereset CSS, sehingga akan menyamakan tampilan di semua browser */
/*@font-face {
    font-family: 'Avenir';
    font-weight: 300;
    src: url('../font/Avenir-Roman.otf') format('opentype');
}*/
@font-face {
    font-family: 'TitilliumWeb-Regular.ttf';
    font-weight: 300;
    src: url('../font/Titillium_Web/TitilliumWeb-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'BadScript-Regular.ttf';
    font-weight: 300;
    src: url('../font/Bad_Script/BadScript-Regular.ttf') format('opentype');
}


@font-face {
    font-family: 'Satisfy-Regular';
    font-weight: 300;
    src: url('../font/Satisfy/Satisfy-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: 300;
    src: url('../font/OpenSans-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: 300;
    src: url('../font/OpenSans-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'OpenSans-Light';
    font-weight: 300;
    src: url('../font/OpenSans-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Light';
    font-weight: 300;
    src: url('../font/roboto/Roboto-Light.ttf') format('opentype');
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: 'OpenSans-Regular', sans-serif;
    color: #555;
    font-weight: 300;
    /*letter-spacing: 0.1px;*/
    font-size: 11pt;
    width: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    background-color: rgb(240,240,240);
    /*background-color: red*/
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: transparent;
}
a:active,
a:hover,
a:visited,
a:link {
    outline: 0 !important;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -moz-box-sizing: content-box;
             box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
                    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
b {
    font-weight: 700;
}
/*=== NORMALISASI end ===*/


/*=== GLOBAL STYLE begin ===*/
.container {
    width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 768px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}
.col-1,
.col-2,
.col-25,
.col-3,
.col-4,
.col-45,
.col-5,
.col-6,
.col-7,
.col-75,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 10px;
    float: left;
}
.col-1{
    width: 10%;
}
.col-2 {
    width: 16.6666666666666666666666667%;
}
.col-25 {
    width: 20.8333333333333333333333333%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333333333333333333333333%;
}
.col-45 {
    width: 37.5%;
}
.col-5 {
    width: 41.6666666666666666666666667%;
}
.col-6 {
    width: 50%;
}
.col-75 {
    width: 62.5%;
}
.col-8 {
    width: 66.6666666666666666666666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333333333333333333333333%;
}
.col-11{
    width: 90%;
}
.col-12 {
    width: 100%;
}
.row {
    width: 100%;
    overflow-y: auto;
}

.border{
    border: solid black 1px;
}

/*@media (max-width: 990px) {
    .col-4 {
        width: 50%;
    }
}
@media (max-width: 640px) {
    .col-4 {
        width: 100%;
    }
}*/

/*=== GLOBAL STYLE end ===*/

/*=== navigasi ===*/

/*main {
    padding-bottom: 40px;
}*/